@model ContactInfo

<h2>Contact Details</h2>
@if (Model == null)
{
    <p>Requested Contact Details Not Found</p>
}

else
{
    <div>
        <hr />
        <strong>Contact Id</strong>: @Model.ContactId<br />
        <strong> First Name</strong>: @Model.FirstName<br />
        <strong>Last Price</strong>: @Model.LastName<br />
        <strong>Company NAME</strong>: @Model.CompanyName<br />
        <strong>Email Id</strong>: @Model.EmailId<br />
        <strong>Mobile No</strong>: @Model.MobileNo<br />
        <strong>Designation</strong>: @Model.Designation<br />
    </div>
}



